<html>
		<head>
			<title>Glitter Bubbles and Muscles! </title>
		</head>
		<div>
		<body>
		<h1>Welcome to Glitter Bubbles and Muscles</h1>
		<h2>This blog is about creating new and exciting things, celebrating the ups, downs, and everything in-betweens of life, and how to live the happiest and healthiest version of your life!</h2>

		<p>Glitter: I've loved creating things my entire life! I look for every oppertunity to build something and get my hands dirty! Sometimes it doesnt work out, and other times it's the best advenure in the world!</p>
<br />
		<p>Bubbles: I'm a true believer that we do not celebrate the little things nearly enough and that there's always a reason to open a bottle of <em>champange!</em> </p>
<br />
		<p>Muscles: my journey to health has been a long one to say the least! As I continue to find my strength, physically and mentally, I enjoy learning from others and sharing my experiences.</p>
		
<br />
</div>
</body>

</html>